$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.header {
  border-bottom: 1px dashed #e5e5e5;
  padding: 2px 0px 2px;
  margin-top: 4px;
  margin-bottom: 10px;

  a {
    margin: 0px 3px;
  }
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.error-msg {
  color:red;
  font-size:12px;
}

.panel {
  margin-bottom: 10px;
}

.prediction{
  font-size: 10px;

  .panel-body {
    padding:10px;
  }

  .panel-body .row {
    margin-left:-10px;
    margin-right:-10px;
  }
  .prediction-time {
    font-size: 24px;
    font-weight: 200;
  }
  .route-tag {
    display:block;
    height: 60px;
    width: 60px;
    line-height: 60px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #EEE;
    font-size: 24px;
    color: #555;
    text-align: center;
  }
  .route-title,
  .stop-title {
    font-size: 9px;
  }
  .route-title {
    font-weight: bold;
  }
}




.weather {
  font-size: 10px;

  .table > tbody > tr {
    td, th {
      padding:4px;
    }
  }
}
