.nextbus{
  font-size: 12px;
  $route-tag-size: 80px;

  .panel-body {
    padding: 10px 15px;
  }
  .route-tag {
    float: left;
    margin-right: 10px;
    height: $route-tag-size;
    width: $route-tag-size;
    line-height: $route-tag-size;
    font-size: 32px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #EEE;
    color: #555;
    text-align: center;
  }
  .right-container {
    text-align: right;
    .prediction-times {
      color: $gray-lightish;
      font-size: 30px;
      font-weight: 200;
      .next-time {
        font-size: 40px;
      }
      .next-time,
      .other-time {
        font-weight: 600;
      }
      .not-affected-by-layover {
        color: #FFF;
      }
    }
    .route-title,
    .stop-title {
      font-size: 11px;
    }
    .route-title {
      font-weight: bold;
    }
    .btn.remove-stop {
      margin-bottom: 4px;
    }
  }
  .nav-tabs {
    border-bottom: none;
  }
}
