.nextbus{
  font-size: 12px;
  $route-tag-size: 80px;

  .panel-body {
    padding: 10px;
  }

  .panel-body .row {
    margin-left: -10px;
    margin-right: -10px;
  }
  .prediction-times {
    font-size: 30px;
    font-weight: 200;
    color: $gray-lightish;
    .incoming {
      font-weight: 600;
      color: #FFF;
    }
    .next-time {
      font-size: $route-tag-size / 2;
    }
  }
  .route-tag {
    display:block;
    height: $route-tag-size;
    width: $route-tag-size;
    line-height: $route-tag-size;
    font-size: 32px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #EEE;
    color: #555;
    text-align: center;
  }
  .route-title,
  .stop-title {
    font-size: 11px;
  }
  .route-title {
    font-weight: bold;
  }
  .nav-tabs {
    border-bottom: none;
  }
  .btn.remove-stop {
    margin-bottom: 4px;
  }
}
