.weather {
  font-size: 10px;

  .table {
    margin-bottom: 0;
    &> tbody > tr {
      th {
        border-top: 0;
        text-transform: uppercase;
      }
      th {
        padding: 4px;
      }
      td {
        padding: 3px;
      }
      td img {
        width: 15px;
        margin-right: 4px;
        margin-left: 2px;
      }
      th, td {
        &:first-child {
          text-align: right;
          width: 1px;
        }
      }
    }
  }
  .side-panel {
    @include make-xs-column(4, 10px);
    padding-left: 15px;
    .todays-forecast {
      margin-bottom: 15px;
      .high-low {
        font-size: 24px;
        line-height: 1.1;
      }
    }
    .rain-chance {
      text-align: center;
      img {
        height: 120px;
        margin-bottom: 20px;
      }
      .pop, .time {
        font-size: 22px;
      }
      .time {
        font-weight: 100;
        .at {
          font-size: 12px;
        }
      }
      small {
        font-size: 10px;
      }
    }
  }
}
