.weather {
  font-size: 10px;

  .zip {
    padding-top: 5px;
    text-align: center;
  }

  .table {
    margin-bottom: 0;
    &> tbody > tr {
      th {
        border-top: 0;
        text-transform: uppercase;
        padding: 0 4px 4px;
      }
      td {
        padding: 3px;
      }
      td img {
        width: 15px;
        margin-right: 4px;
        margin-left: 2px;
      }
      th, td {
        &:first-child {
          text-align: right;
          width: 1px;
        }
      }
    }
  }
  .side-panel {
    @include make-xs-column(5, 10px);
    padding-left: 15px;
    text-align: center;
    .forecast {
      img {
        width: 60px;
      }
      .conditions {
        font-size: 12px
      }
      .high-low {
        font-size: 32px;
      }
    }
    .rain-chance {
      line-height: 1.1;
      img {
        height: 110px;
        margin-bottom: 20px;
      }
      .pop, .time {
        font-size: 22px;
      }
      .pop, .no-rain {
        font-weight: 100;
      }
      .at {
        font-size: 12px;
      }
      small {
        font-size: 10px;
      }
    }
    .alerts {
      margin-top: 10px;
      ul {
        padding-left: 0;
        li {
          list-style: none;
          color: red;
          text-transform: uppercase;
          font-weight: bold;
        }
      }
    }
  }
  .forecasts {
    border-top: 1px solid $gray-dark;
    margin-top: 25px;
    padding-top: 25px;
  }
  .forecast {
    text-align: center;
    margin-bottom: 15px;
    img {
      display: inline-block;
      vertical-align: top;
      width: 45px;
      margin-right: 10px;
    }
    .conditions, .high-low, .date {
      text-align: left;
    }
    .conditions {
      font-size: 11px
    }
    .high-low {
      font-size: 18px;
      line-height: 1.1;
    }
    .date {
    }
  }
}
