<div class="card">
    <div class="card-body">
      <form ng-submit="nextBus.addForm.validate()">
        <div class="row">
          <div class="form-group col-6">
            <label>Route Tag:</label>
            <input type="text" class="form-control" ng-model="nextBus.addForm.routeTag">
          </div>
          <div class="form-group col-6">
            <label>Stop Tag:</label>
            <input type="text" class="form-control" ng-model="nextBus.addForm.stopTag">
          </div>
        </div>
        <div>
          <input class="btn btn-primary" type="submit" value="Validate &amp; Add Stop">
        </div>
      </form>
    </div>
</div>
