<div class="card">
  <div class="card-body">
    <div class="alert alert-danger">
      Warning: This probably won't work. See
      <a
        href="https://developers.google.com/web/updates/2016/04/geolocation-on-secure-contexts-only"
        target="_blank"
        rel="noopener noreferrer"
      >
        Geolocation API Removed from Unsecured Origins in Chrome 50
      </a>.
    </div>

    <form class="form-inline">
      <span class="mr-2">Find stops within</span>
      <select class="form-control" ng-change="nextBus.addForm.getNearbyStops()" ng-model="nextBus.addForm.distance">
        <option value="">--Choose One--</option>
        <option value="322">1/5 mile</option>
        <option value="402">1/4 mile</option>
        <option value="804">1/2 mile</option>
        <!-- values are in meters -->
      </select>
    </form>
    <div class="spinner-loader" ng-show="nextBus.addForm.loading"></div>
    <div class="text-danger" ng-show="nextBus.addForm.errMsg">{{nextBus.addForm.errMsg}}</div>

    <table class="table table-striped table-hover" ng-show="nextBus.addForm.nearbyStops">
      <thead>
        <tr>
          <th>Route</th>
          <th>Direction</th>
          <th>Stop</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="stop in nextBus.addForm.nearbyStops" ng-click="nextBus.addForm.addStop(stop.tag + '|' + stop.stopTag)">
          <td>{{stop.title}}</td>
          <td>{{stop.directionTitle}}</td>
          <td>{{stop.stopTitle}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
