// AngularJS
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.container {
  position:relative;
  .header {
    position: absolute;
    z-index: 99;
    right: 0;
    margin-top: 6px;
    margin-right: $grid-gutter-width / 2;

    a {
      color: $body-color;
      margin: 0 3px;
    }
  }
}

.clickable {
  cursor: pointer;
}

.error-msg {
  color: red;
  font-size: 12px;
}

.nextbus,
.weather {
  margin-bottom: 20px;
}

.slim-gutters {
  margin-right: -($grid-gutter-width-slim / 2);
  margin-left: -($grid-gutter-width-slim / 2);

  > .col,
  > [class*="col-"] {
    padding-right: $grid-gutter-width-slim / 2;
    padding-left: $grid-gutter-width-slim / 2;
  }
}
