// Global Vars
@import 'bootstrap_variables.scss';
@import 'variables.scss';


// Third-party
@import 'bootstrap/scss/bootstrap';


// Components
@import 'current_time.scss';
@import 'time_since_last_updated.scss';
@import 'spinner.scss';
@import 'weather.scss';
@import 'nextbus.scss';


// AngularJS
[ng-click],
[data-ng-click],
[x-ng-click] {
  cursor: pointer;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

// FIXME
.block {display: block;}
.inline-block {display: inline-block;}
.inline {display: inline;}

// FIXME: can this be removed?
.container {
  position:relative;
}

// FIXME: can this be removed?
.header {
  position: absolute;
  z-index: 99;
  right: 0;
  margin-top: 6px;
  margin-right: 15px;

  a {
    margin: 0 3px;
  }
}

.error-msg {
  color: red;
  font-size: 12px;
}

.add-form {
  position: relative;
  font-size: 14px;

  .btn.close-form {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
  }
  .table {
    font-size: 10px;
  }
}

// I think that the html for this comes from angularstrap
.nav-tabs > li.active > a {
  background-color: #2e3338;
}

.nextbus,
.weather {
  margin-bottom: 20px;
}

.slim-gutters {
  margin-right: -($grid-gutter-width-slim / 2);
  margin-left: -($grid-gutter-width-slim / 2);

  > .col,
  > [class*="col-"] {
    padding-right: ($grid-gutter-width-slim / 2);
    padding-left: ($grid-gutter-width-slim / 2);
  }
}