<div class="todays-forecast">
  <img ng-src="{{weather.todaysForecast.icon | weatherIconUrl}}">
  <div class="inline-block">
    <div class="conditions">{{weather.todaysForecast.conditions}}</div>
    <div class="high-low">{{weather.todaysForecast.high.fahrenheit}}<span class="text-muted">/</span>{{weather.todaysForecast.low.fahrenheit}}</div>
  </div>
</div>

<div class="rain-chance">
  <div ng-show="weather.rainTime">
    <img class="img-responsive center-block" src="/images/rain-white.svg">
    <span class="pop">{{weather.rainTime.pop}}&#37;</span>
    <span class="time"> <sup class="at">@</sup> {{weather.rainTime.FCTTIME.hour | time24to12 }}{{weather.rainTime.FCTTIME.ampm}}</span>
  </div>
  <div ng-show="!weather.rainTime">
    <img class="img-responsive center-block" src="/images/no-rain-white.svg">
    <span class="pop">No rain</span>
    <span class="time">in 24hr.</span>
  </div>
  <div><small class="text-muted">Based on a {{minChanceOfRain}}% chance threshold.</small></div>
</div>

<div class="col-xs-12 alerts" ng-include="'views/weather/alerts.html'" ng-if="weather.alerts"></div>
