<div class="nextbus">
  <div ng-show="!nextBus.predictions.length" class="card mb-2">
    <div class="card-body">
      No bus stops added.
    </div>
  </div>

  <div class="predictions" ng-include="'views/nextbus/predictions.html'"></div>

  <div bs-tabs class="add-form" ng-show="nextBus.addForm.showBusAddForm">
    <div class="btn close-form" ng-click="nextBus.addForm.toggleBusAddForm()"><span class="fas fa-times"></span></div>
    <div data-title="Geolocation" ng-include="'views/nextbus/add-stop-geolocate.html'" bs-pane></div>
    <div data-title="Manual Input" ng-include="'views/nextbus/add-stop-manual.html'" bs-pane></div>
  </div>

  <div ng-hide="nextBus.addForm.showBusAddForm" class="d-flex align-items-start justify-content-between">
    <div>
      <span ng-hide="nextBus.showBusRemoval" class="btn btn-xs btn-outline-secondary fas fa-plus" ng-click="nextBus.addForm.toggleBusAddForm()"></span>
      <span class="btn btn-xs btn-outline-secondary fas fa-pen" ng-hide="!nextBus.predictions.length" ng-click="nextBus.toggleBusRemove()"></span>
    </div>

    <react-component name="TimeSinceLastUpdated" props="nextBus" />
  </div>
</div>
