<div class="col-xs-6">
    <h1>Settings:</h1>
    <form ng-submit="validateKey(weatherKey)">
      <div class="form-group has-feedback" ng-class="{'has-success': validKey, 'has-error': validKey === false}">
        <label for="weather-key" class="control-label">Weather Underground API Key:</label>
        <input type="text" class="form-control" id="weather-key" ng-model="weatherKey" ng-init="weatherKey = $storage.weatherKey">
        <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok': validKey, 'glyphicon-remove': validKey === false}"></span>
      </div>
      <div class="form-group">
        <input class="btn btn-info" type="submit" value="Validate &amp; Store Key">
      </div>
      <hr>
      <div>
        <span ng-click="dumpLocalStorage()" class="btn btn-danger">Dump All Local Storage</span>
        <p><small>This will remove stored bus stops and your wunderground key.</small></p>
      </div>
    </form>
</div>