<h1>Settings</h1>

<div class="row">
  <div class="col-6">
    <div class="card mb-4">
      <div class="card-body">
        <h3>Global</h3>

        <react-component name="DarkLightModeSelector" />

        <hr />

        <span ng-click="dumpLocalStorage()" class="btn btn-danger">Dump All Local Storage</span>
        <p><small>This will remove stored bus stops, your DarkSky key, and the weather units.</small></p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card mb-4">
      <div class="card-body">
        <h3>Bus</h3>

        <p class="text-muted">No settings currently available.</p>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card mb-4">
      <div class="card-body">
        <h3>Weather</h3>

        <form ng-submit="validateKey(weatherKey)">
          <div class="form-group">
            <label for="weather-key" class="control-label">DarkSky API Key:</label>
            <input type="text" class="form-control" ng-class="{'is-valid': validKey, 'is-invalid': validKey === false}" id="weather-key" ng-model="weatherKey" ng-init="weatherKey = $storage.weatherKey">
          </div>
          <input class="btn btn-primary" type="submit" value="Validate &amp; Store Key">
        </form>

        <hr>

        <div class="form-group">
          <label>Weather Units:</label>
          <div>
            <div class="btn-group" role="group">
              <button type="button" class="btn" ng-class="$storage.weatherUnits !== 'auto' ? 'btn-secondary' : 'btn-primary'" ng-click="setWeatherUnits('auto')">Auto</button>
              <button type="button" class="btn" ng-class="$storage.weatherUnits !== 'f' ? 'btn-secondary' : 'btn-primary'" ng-click="setWeatherUnits('f')">F</button>
              <button type="button" class="btn" ng-class="$storage.weatherUnits !== 'c' ? 'btn-secondary' : 'btn-primary'" ng-click="setWeatherUnits('c')">C</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
