<div class="weather">
  <div ng-show="weather._callFailedReason" class="error-msg">
    <span class="fas fa-exclamation-circle"></span> <span ng-bind-html="weather._callFailedReason"></span>
  </div>

  <div ng-show="weather.locations">
    <div ng-repeat="location in weather.locations">
      <div class="card mb-2">
        <div class="location-readable"><small>{{location.location.readable}}</small></div>

        <div class="card-body">
          <div class="row slim-gutters">
            <div class="side-panel col-5" ng-include="'views/weather/side-panel.html'"></div>
            <div class="col-7" ng-include="'views/weather/table.html'"></div>
          </div>
        </div>
        <div class="card-footer bg-transparent py-0">
          <react-component name="ThreeDayForecast" props="location" />
        </div>
      </div>
    </div>

    <react-component name="TimeSinceLastUpdated" props="weather" />
  </div>
</div>