<div class="forecast d-flex align-items-center justify-content-center">
  <img ng-src="{{location.todaysForecast.icon | weatherIconUrl}}" alt="">
  <div>
    <div class="conditions">
      {{location.todaysForecast.summary | limitTo:22}}{{location.todaysForecast.summary.length > 22 ? '...' : ''}}
    </div>

    <div class="high-low">
      {{location.todaysForecast.temperatureMin | number:0}}<span class="text-muted">/</span>{{location.todaysForecast.temperatureMax | number:0}}&deg;
    </div>

    <div class="high-low-alt text-muted" ng-show="$storage.weatherUnits">
      <span ng-if="$storage.weatherUnits === 'c'">
        {{location.todaysForecast.temperatureMin | cToF | number:0 }}/{{location.todaysForecast.temperatureMax | cToF | number:0 }}&deg;F
      </span>
      <span ng-if="$storage.weatherUnits === 'f'">
        {{location.todaysForecast.temperatureMin | fToC | number:0 }}/{{location.todaysForecast.temperatureMax | fToC | number:0 }}&deg;C
      </span>
    </div>
  </div>
</div>

<div class="rain-chance">
  <div ng-show="location.rainForecast">
    <img class="img-fluid mx-auto" src="/images/umbrella-white.svg" alt="Bring Umbrella">
    <div class="pop">
      {{location.rainForecast.precipProbability * 100 | number:0}}&#37;
    </div>
    <sup class="at">@</sup>
    <span class="time"> {{location.rainForecast.time * 1000 | date:'ha' }}</span>
  </div>
  <div ng-show="!location.rainForecast">
    <img class="img-fluid mx-auto" src="/images/no-umbrella-white.svg" alt="No Umbrella">
    <div class="no-rain">No rain in 24hr.</div>
  </div>
  <div><small class="text-muted">Based on a {{minChanceOfRain * 100 | number:0}}% chance threshold.</small></div>
</div>

<react-component name="WeatherAlerts" props="location"></react-component>
