<table class="table">
  <tr>
    <th>Time</th>
    <th>Condition</th>
    <th data-toggle="tooltip" title="Temp/Feels Like">Temp/FL</th>
    <th>UVI</th>
    <th>POP</th>
    <th>Humid</th>
  </tr>
  <tr ng-repeat="hForecast in location.hourlyForecasts || [] | limitTo:12">
    <td>{{hForecast.time * 1000 | date:'ha' }}</td>
    <td><img ng-src="{{hForecast.icon | weatherIconUrl}}" alt=""> {{hForecast.summary}}</td>
    <td>{{hForecast.temperature | number:0}}/{{hForecast.apparentTemperature | number:0}}&deg;</td>
    <td>{{hForecast.uvIndex}}</td>
    <td ng-class="{'text-info': hForecast.pop >= minChanceOfRain}">{{hForecast.precipProbability * 100}}&#37;</td>
    <td>{{hForecast.humidity * 100}}&#37;</td>
  </tr>
</table>
