@import 'bootstrap_variables';


$fa-font-path:                  "~@fortawesome/fontawesome-free/webfonts/";

$grid-gutter-width-slim:        20px;
$grid-gutter-width:             30px;

$no-umbrella-image-url:         "../images/no-umbrella-black.svg";
$bring-umbrella-image-url:      "../images/bring-umbrella-black.svg";