<div class="panel panel-default">
    <div class="panel-body">

      <form ng-submit="nextBus.addForm.validate()">
        <div class="form-group col-xs-6">
          <label>Route Tag:</label>
          <input type="text" class="form-control" ng-model="nextBus.addForm.routeTag">
        </div>
        <div class="form-group col-xs-6">
          <label>Stop Tag:</label>
          <input type="text" class="form-control" ng-model="nextBus.addForm.stopTag">
        </div>
        <div class="pull-right">
          <input class="btn btn-info" type="submit" value="Validate &amp; Add Stop">
        </div>
      </form>
    </div>
</div>
