<section>
  <div ng-repeat="prediction in predictions || []" class="panel panel-default prediction">
    <!-- <div class="panel-heading"></div> -->
    <div class="panel-body">
      <div class="row">

        <div class="col-xs-8">
          <span class="route-tag pull-left">{{prediction._routeTag}}</span>
          <div class="route-title">{{prediction.direction._title}}</div>
          <div>@{{prediction._stopTitle}}</div>
        </div>

        <div class="col-xs-4 text-right">
          <span ng-repeat="time in prediction.direction.prediction" class="prediction-time">
            {{time._minutes}}{{$last ? '' : ', '}}
          </span>
        </div>

      </div>
    </div>
  </div>
</section>
